%layout_grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-gap: $row-size_col-margin;

  @include XXXLpc-width() {
    grid-template-columns: repeat(6, 1fr);
  }

  @include XXLpc-width() {
    grid-template-columns: repeat(4, 1fr);
  }

  @include pc-width() {
    grid-template-columns: repeat(2, 1fr);
  }

  @include pad-width() {
    grid-template-columns: repeat(2, 1fr);
  }

  @include phone-width() {
    grid-template-columns: repeat(1, 1fr);
  }
}

%layout_grid--small {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-gap: $row-size_col-margin;

  @include XXLpc-width() {
    grid-template-columns: repeat(6, 1fr);
  }

  @include pad-width() {
    grid-template-columns: repeat(2, 1fr);
  }

  @include phone-width() {
    grid-template-columns: repeat(1, 1fr);
  }
}

%layout_grid--big {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-gap: $row-size_col-margin;

  @include XXXLpc-width() {
    grid-template-columns: repeat(4, 1fr);
  }

  @include XXLpc-width() {
    grid-template-columns: repeat(3, 1fr);
  }

  @include pad-width() {
    grid-template-columns: repeat(2, 1fr);
  }

  @include phone-width() {
    grid-template-columns: repeat(1, 1fr);
  }
}

%layout_list {
  overflow: hidden;
  margin: -$row-size_col-margin;

  @extend %flex-wrap;

  li {
    flex: 1;
    margin: $row-size_col-margin;
    min-width: 220px;
  }
}
