%layout_container {
  margin: 0 auto;
  max-width: $max-width_container;
  width: $width_container--small;

  @include pc-width() {
    width: $width_container;
  }

  @include pad-width() {
    width: $width_container;
  }

  @include phone-width() {
    width: $width_container--big;
  }
}

%layout_full-layout {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

%layout_full-absolute {
  position: absolute;
  width: 100%;
  height: 100%;
}

%border_basic-border {
  border: $color_line solid 1px;
}

%layout_full-absolute-img {
  position: relative;
  overflow: hidden;

  @extend %flex-center;

  > img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-height: 120%;
  }
}

%input_basic-layout {
  input[type='text'],
  input[type='number'],
  input[type='password'],
  input[type='email'],
  input[type='date'],
  input[type='tel'],
  textarea,
  select {
    flex: 1;
    padding: 14px 20px;
    outline: none;
    border-radius: $border-radius_layout;
    letter-spacing: 2px;
    font-size: 1rem;

    @extend %border_basic-border;
  }
}

%block_paper-block {
  border-radius: $border-radius_layout;
  background-color: $color_white;

  @extend %border_basic-border;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin round($size) {
  width: $size;
  height: $size;
  border-radius: $size;
}
