.contact {
  position: relative;
  margin: 5% auto;
  padding: $layout-size_big;
  max-width: 800px;

  @extend %flex-column;

  &::after {
    z-index: $z-index_background;
    border: 1px solid $color_line;
    border-radius: $border-radius_layout;
    background-color: $color_primary;
    opacity: 0.5;

    @extend %pseudo-element--full;
  }

  &__actions {
    justify-content: flex-end;
    margin-top: $layout-size_base;

    @extend %flex-row;
  }

  &__warning {
    margin-top: $layout-size_small;
    color: $color_text;
  }
}
