$size-list: (
  'max-large': 60px,
  'middle-large': 48px,
  'large': 32px,
  'small': 16px,
  'middle-small': 12px,
  'min-small': 8px,
);

$color-list: (
  'primary': $color_primary,
  'accent': $color_accent,
  'accent-dark': $color_accent--dark,
  'auxiliary': $color_auxiliary,
  'text': $color_text,
  'line': $color_line,
  'white': $color_white,
  'black': $color_black,
);

.icon {
  @include square(24px);
  @extend %flex-center;

  svg {
    fill: $color_text;
    @include square(24px);
  }

  @each $name, $size in $size-list {
    &--#{$name} {
      @include square($size);

      svg {
        @include square($size);
      }
    }
  }

  @each $name, $color in $color-list {
    &--#{$name} {
      svg {
        fill: $color;
      }
    }
  }
}
