@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  src: url('../../../public/fonts/icomoon.eot?v9eugh');
  src:
    url('../../../public/fonts/icomoon.eot?v9eugh#iefix')
      format('embedded-opentype'),
    url('../../../public/fonts/icomoon.ttf?v9eugh') format('truetype'),
    url('../../../public/fonts/icomoon.woff?v9eugh') format('woff'),
    url('../../../public/fonts/icomoon.svg?v9eugh#icomoon') format('svg');

  font-display: block;
}

[class^='icomoon-'],
[class*=' icomoon-'] {
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  line-height: 2;

  speak: never;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-twitter:before {
  content: '\e900';
}
.icomoon-youtube:before {
  content: '\e901';
}
.icomoon-twitch:before {
  content: '\ea9f';
}
